<%- content_for(:page_title, "«Горловский Городской центр психологической службы»") %>

<div class="container content content-light home-1">
  <section class="row animation-scroll">
    <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft"><img src="img/home1_img1.png" alt=""></figure>
    <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
      <h3><strong>Learn</strong> from your <strong>home office</strong></h3>
      <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business.</p>
      <a href="categories.htm" class="link-more">Check out the library <i class="fa fa-arrow-right "></i></a>
    </article>
  </section>

  <section class="row animation-scroll">
    <article class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
      <h3><strong>Stay tuned</strong> with your <strong>mobile devices</strong></h3>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</p>
      <a href="#" class="link-more">Check out our webapp <i class="fa fa-arrow-right "></i></a>
    </article>
    <figure class="col-md-6 animated bounceInRight" data-animation="bounceInRight"><img src="img/home1_img2.png" alt=""></figure>
  </section>
  <section class="row animation-scroll">
    <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft"><img src="img/home1_img3.png" alt=""></figure>
    <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
      <h3><strong>Connect</strong> different file types everywhere</h3>
      <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business.</p>
      <a href="#" class="link-more">Check out the dashboard <i class="fa fa-arrow-right "></i></a>
    </article>
  </section>
  <section class="row animation-scroll">
    <article class="col-md-6 animated" data-animation="bounceInLeft">
      <h3><strong>Share tutorials</strong> with your <strong>friends</strong></h3>
      <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</p>
      <a href="#" class="link-more">Go to your portal <i class="fa fa-arrow-right "></i></a>
    </article>
    <div class="col-md-6 animated widget-social" data-animation="bounceInRight">
      <a class="btn btn-social btn-social-circle social-facebook" href="https://www.facebook.com/pages/KL-Webmedia/131260293670757"><i class="fa fa-facebook"></i><span class="click-number">32</span></a>
      <a class="btn btn-social btn-social-circle social-twitter" href="https://twitter.com/KLWebmedia"><i class="fa fa-twitter"></i><span class="click-number">24</span></a>
      <a class="btn btn-social btn-social-circle social-gplus" href="https://plus.google.com/113174627408639682462/posts"><i class="fa fa-google-plus"></i><span class="click-number">14</span></a>
      <a class="btn btn-social btn-social-circle social-dribbble" href="http://dribbble.com/KL-Webmedia"><i class="fa fa-dribbble"></i><span class="click-number">8</span></a>
      <i class="fa fa-circle fa-lg"></i><i class="fa fa-circle fa-2x"></i><i class="fa fa-circle fa-3x"></i>
      <span class="text"><i class="fa fa-comments text-orange"></i> <b>32</b> people like your tutorials</span>
    </div>
  </section>
</div>

<section class="content content-dark testimonial">
  <div class="container">
    <p class="header text-center text-white">We are <strong>51,031</strong> creative teachers so far</p>
    <div class="tab-content quote">
      <blockquote id="tab-nicole-kidman" class="tab-pane fade">
        <p>“This platform is the best idea to teach young people without loosing any time.”</p>
        <cite>Nicole Kidman <span>(actress)</span></cite>
      </blockquote>
      <blockquote id="tab-leland-orser" class="tab-pane fade active in">
        <p>“Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.”</p>
        <cite>Leland Orser <span>(actor)</span></cite>
      </blockquote>
      <blockquote id="tab-henry-cavill" class="tab-pane fade">
        <p>“Curabitur et ligula. Ut molestie a, ultricies porta urna.Lorem ipsum dolor sit amet enim. Etiam ullamcorper.”</p>
        <cite>Henry Cavill <span>(actor)</span></cite>
      </blockquote>
      <blockquote id="tab-andres-gertrudix" class="tab-pane fade">
        <p>“Maecenas malesuada elit lectus felis, malesuada ultricies. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.”</p>
        <cite>Andres Gertrudix <span>(actor)</span></cite>
      </blockquote>
      <blockquote id="tab-justin-biber" class="tab-pane fade">
        <p>“Ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.”</p>
        <cite>Justin Biber <span>(singer)</span></cite>
      </blockquote>
    </div>
    <a href="plans.htm" class="btn btn-theme btn-green">Start teaching</a>
  </div>
</section>

<section class="content content-light">
  <div class="container">
    <p class="header text-center"><strong>Customize</strong> your tutorials <strong>online base</strong></p>
    <p class="text-center">We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business.</p>
    
    <hr class="invisible">
    
    <div class="row">
      <div class="col-md-6">
        <h3>Keep things simple and clean</h3>
        <ul class="fa-ul list-special">
          <li><i class="fa-li fa fa-2x fa-check text-green"></i>update your tutorials daily, weekly or yearly</li>
          <li><i class="fa-li fa fa-2x fa-check text-green"></i>build your own tutorials database</li>
          <li><i class="fa-li fa fa-2x fa-check text-green"></i>create sections and topics for your tutorials</li>
          <li><i class="fa-li fa fa-2x fa-check text-green"></i>create wounderful landing page designs</li>
          <li><i class="fa-li fa fa-2x fa-check text-green"></i>send your followers updates about you works</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Watch the video and create your site</h3>
        <a class="video-prev video-play-here" href="http://www.youtube.com/v/9QscURRuF0g&amp;autoplay=1" style="height:255px; background-image:url('http://i1.ytimg.com/vi/9QscURRuF0g/maxresdefault.jpg');"><i class="fa fa-play"></i><span class="overlay"></span></a>
      </div>
    </div>
  </div>
</section>

<footer class="main bg-dark-img">

  <section class="widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>About us</h4>
        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</p>
      </div>
        <div class="col-md-3 footer-qlink">
          <h4>Quick links</h4>
          <nav>
            <ul>
              <li><a href="plans.htm">Start teaching / learning</a></li>
              <li><a href="categories.htm">Tutorials database</a></li>
              <li><a href="about-us.htm">Meet the team</a></li>
              <li><a href="blog-list.htm">Our blog</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3 footer-blog">
          <h4>Latest blogpostings</h4>
          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="blog-post.htm"><img class="media-object img-rounded" src="img/face/14.png" alt="author"></a>
              <div class="media-body">
                <h5 class="media-heading"><a href="blog-post.htm">Stet clita kasd</a></h5>
                <p>Lubergren, no sea...</p>
                <span class="footer"><time datetime="2014-01-09T22:11" class="cute-time" data-timestamp="2014/01/09 22:11:19">last year</time> by admin</span> <!-- attribute "datetime" is optional -->
              </div>
            </li>
            <li class="media">
              <a class="pull-left" href="blog-post.htm"><img class="media-object img-rounded" src="img/face/5.png" alt="author"></a>
              <div class="media-body">
                <h5 class="media-heading"><a href="blog-post.htm">Stet clita kasd</a></h5>
                <p>Takimata sanctus est...</p>
                <span class="footer"><time datetime="2013-12-29T20:12" class="cute-time" data-timestamp="2013/12/29 20:12:38">last year</time> by admin</span> <!-- attribute "datetime" is optional -->
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer-social">
          <h4>Follow us on</h4>
          <a class="btn btn-social social-facebook" href="https://www.facebook.com/pages/KL-Webmedia/131260293670757"><i class="fa fa-facebook"></i></a>
          <!--<a class="btn-social social-vimeo" href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a>-->
          <a class="btn btn-social social-youtube" href="http://www.youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social social-twitter" href="https://twitter.com/KLWebmedia"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social social-gplus" href="https://plus.google.com/113174627408639682462/posts"><i class="fa fa-google-plus"></i></a>
          <!--<a class="btn-social social-blogger" href="https://www.blogger.com/"><i class="fa fa-facebook"></i></a>-->
          <a class="btn btn-social social-dribbble" href="http://dribbble.com/KL-Webmedia"><i class="fa fa-dribbble"></i></a>
          <!--<a class="btn-social social-deviantart" href="http://kl-webmedia.deviantart.com/"><i class="fa fa-deviantart"></i></a>-->
          <a class="btn btn-social social-linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-social social-tumblr" href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i></a>
          <!--<a class="btn-social social-flickr" href="http://www.flickr.com/"><i class="fa fa-flickr"></i></a>-->
        </div>
    </div>
  </div>
  </section>

  <section class="copyright">
    <div class="container">
      © Copyright 2014 <b>KL-Webmedia.com</b> &nbsp; | &nbsp; All rights reserved
    </div>
  </section>

</footer>