<%- content_for(:page_title, "Новости") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article class="blog-item">
        <header>
          <h2 class="blog-title">1000 Teacher Tutorials</h2>
          <p class="blog-img"><img src="images/blog_img_1.jpg" alt="" class="img-rounded"></p>
          <p class="blue-box blog-params">
            <span><i class="fa fa-calendar"></i> <time datetime="2013-01-12T22:11">January 12, 2013</time></span>
            <span><i class="fa fa-user"></i> <a href="blog-list.htm">Jonathan Doe</a></span>
            <span><i class="fa fa-tags"></i> <a href="blog-list.htm">Webdesign</a>, <a href="blog-list.htm">Inspiration</a></span>
            <span class="text-orange"><i class="fa fa-comments-o"></i> 23 Comments</span>
          </p>
        </header>
        <p class="blog-description">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won't receive a generic service and although we can't boast years and years of service we can ensure you that is a good thing in this industry. Our teams are up to date with the latest technologies.</p>
        <p class="text-right blog-link-more"><a href="blog-post.htm" class="btn btn-theme btn-orange">Read more</a></p>
      </article>
      <article class="blog-item">
        <header>
          <h2 class="blog-title">New Tutorisection "Webdesign" opened</h2>
          <p class="blog-img"><img src="images/blog_img_2.jpg" alt="" class="img-rounded"></p>
          <p class="blue-box blog-params">
            <span><i class="fa fa-calendar"></i> <time datetime="2013-01-10T21:01">January 10, 2013</time></span>
            <span><i class="fa fa-user"></i> <a href="blog-list.htm">Jonathan Doe</a></span>
            <span><i class="fa fa-tags"></i> <a href="blog-list.htm">Webdesign</a>, <a href="blog-list.htm">Inspiration</a></span>
            <span class="text-orange"><i class="fa fa-comments-o"></i> 19 Comments</span>
          </p>
        </header>
        <p class="blog-description">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won't receive a generic service and although we can't boast years and years of service we can ensure you that is a good thing in this industry. Our teams are up to date with the latest technologies. We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won't receive a generic service and although we can't boast years and years of service we can ensure you that is a good thing in this industry. Our teams are up to date with the latest technologies, media trends and are keen to prove themselves in this industry.</p>
        <p class="text-right blog-link-more"><a href="blog-post.htm" class="btn btn-theme btn-orange">Read more</a></p>
      </article>
        
      <!-- Pagination -->
      <ul class="pagination">
        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="videos-list.htm">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>