<div class="container">
  <p class="header text-center"><strong>How easy</strong> our teachers manage their <strong>business</strong></p>
  <p class="text-center">We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business.</p>

  <hr class="invisible">
  <hr class="invisible">

  <div class="row our-team">
    <div class="col-md-4">
      <div class="center-block our-team-item"> <!-- if number of people is less than 4 then el. "our-team-item" is need it -->
        <figure>
          <img src="/images/2.png" class="img-rounded" alt="Edward Willis">
          <figcaption>Edward Willis <em>Youtubber &amp; Blogger</em></figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-4">
      <div class="center-block our-team-item">
        <figure>
          <img src="/images/22.png" class="img-rounded" alt="Chuck Dorothe">
          <figcaption>Chuck Dorothe <em>Webdeveloper</em></figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-4">
      <div class="center-block our-team-item">
        <figure>
          <img src="/images/24.png" class="img-rounded" alt="Adam Sandler">
          <figcaption>Adam Sandler <em>Language Trainer</em></figcaption>
        </figure>
      </div>
    </div>
  </div>

  <hr class="invisible">
  <hr class="invisible">

</div>
